.online_assesment_page .hero_banner_wrapper.inner_hero_banner .image_ui img{
    width: auto;
    left: 0;
    position: relative;
    max-width: 671px;
}

.reverse_ui .col-md-7{
  order: 2;
}
.reverse_ui .col-md-5{
  order: 1;
}
.content_image_card_sec{
  padding: 100px 0;
}
.content_image_card_sec .image_wrapper{
  position: relative;
}
.content_image_card_sec .image_wrapper img{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.content_image_card_sec .circle_shape{ 
  position: relative;
  width: 700px;
  height: 700px;
}
.circle_shape.white_bg{
  background: #fff;
}
.content_image_card_sec .content_wraper{
  padding-left: 0px;
}
.content_image_card_sec .content_wraper .heading2{
  line-height: 80px;
}
.content_image_card_sec .content_wraper p{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-transform: capitalize;
  color: #8B939A;
  padding: 30px 0;
}
.content_image_card_sec.gray_bg{
  position:relative;
  z-index: 1;
}

.hexa_container{
  display:flex;
}
.question_type_ui{
  position: relative;
  margin-bottom: 20px;
}
.question_type_ui:last-child:before{
  width:1px;
  height: 45px;
  position: absolute;
  content: "";
  border-left: 1px dashed #050931;
  top:-58px;
  left: 0;
  right: 0;
  margin: auto;
}
.question_type_ui label{
  text-align: center;
  display: block;
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color:#050931;
  position: relative;
}
.question_type_ui label::after{
  width:1px;
  height: 45px;
  position: absolute;
  content: "";
  border-left: 1px dashed #050931;
  bottom:-48px;
  left: 0;
  right: 0;
  margin: auto;
}
.hexa_container .hexa_ui{
  flex-direction: column;
}

.hexa_container .hexa_ui::after{
   
    top: 32%;
    left: -26px;
    right: initial;
}
.hexa_container .hexa_ui .text{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  padding: 0 30px;
  max-width: 180px;
}
.hexa_container .hexa_ui:first-child:after{
  display: none;
}
.hexa_container .hexa_ui:last-child{
  width: 20%;
}
.exam_type_sec{
  padding: 100px 0 80px;
}
.exam_type_sec .heading_wrap .heading3{
  text-align: center;
  margin-bottom: 30px;
}
.exam_type_sec .heading_wrap .heading3 span{
  display: block;
}
.build_test_sec{
  padding: 100px 0 0;
}
.build_test_sec .heading_wrap{
  text-align: center;
  margin-bottom: 50px;
}
.build_test_sec .heading_wrap .heading2{
  margin-bottom: 30px;
}
.build_test_sec .heading_wrap p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    text-transform: capitalize;
    color: #8B939A;
}
.build_test_sec figure{
  max-width: 1000px;
  margin-bottom: 0;
  margin: auto;
}
.build_test_sec figure img{
  width: 100%;
}

.image_content_sec{
  padding: 100px 0;
}
.image_content_sec figure img{
  width: 100%;
}
.seprater{
  border-bottom:1px dashed #050931;
  width:100%;
  max-width: 1400px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
.image_content_sec .reverse_ui .col-md-6:first-child{
  order: 2;
}
.image_content_sec .reverse_ui .col-md-6:last-child{
  order: 1;
}
.image_content_sec .content_wrap p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-transform: capitalize;
    color: #8B939A;
    padding: 30px 0;
}


/*about page css start here */

.hero_banner_wrapper.static_banner_wrpper {
	min-height: 500px;
	background-size: cover !important;
  padding-top: 238px;
}

.static_banner_wrpper p{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #050931;
  margin-top: 20px;
  text-align: center;
  
  
}
.static_banner_wrpper h1{
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 105px;
    letter-spacing: 0.01em;
    color: #050931;
    text-align: center;
}
.about_content_ui{
  padding: 100px 0;
}
.about_content_ui h3{
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #050931;
    margin-bottom: 20px;
}
.about_content_ui h5{
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #050931;
  margin-bottom: 30px;
}
.about_content_ui p{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  text-transform: capitalize;
  color: #8B939A;
}
.founder_sec{
  background:#F6F7FB;
  padding: 100px 0 0;
  overflow: hidden;
}
.founder_sec .col-lg-6:first-child{
  order: 2;
}
.founder_sec .col-lg-6:last-child{
  order:1;
}
.founder_image_blk{
  position: relative;
  z-index: 1;
  padding-top: 60px;
}
.founder_image_blk img{
  width: 100%;
}
.founder_image_blk .circle_ui{
  background: linear-gradient(169.83deg, #E0E5F8 4.88%, rgba(255, 255, 255, 0) 63.64%);
  opacity: 0.5;
  width: 700px;
  height: 700px;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
}
@media (max-width:1500px){
.founder_image_blk .circle_ui{
  width: 500px;
  height: 500px;
  left: 0;
  right: 0;
  margin: auto;
}
}
.founder_content_ui{
  padding-bottom: 60px;
}
.founder_content_ui .heading3{
  padding-bottom: 20px;
  border-bottom: 1px solid #C1C1C1;
  margin-bottom: 30px;
}
.founder_content_ui h5{
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 48px;
      letter-spacing: 0.01em;
      text-transform: capitalize;
      color: #050931;
      margin-bottom: 20px;
}
.founder_content_ui p{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-transform: capitalize;
    color: #666666;
    margin-bottom: 30px;
}
.founder_content_ui label{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #050931;
    margin-bottom: 20px;
}

.our_vision_sec{
  padding: 100px 0;
}
.our_vision_sec .content_wrap h4{
    font-style: normal;
    font-size: 70px;
    line-height: 85px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #050931;
    font-weight: 200;
    padding-bottom: 20px;
    border-bottom: 1px solid #C1C1C1;
    margin-bottom: 50px;

}
.our_vision_sec .content_wrap h4 span{
  font-weight: 800;
}
.our_vision_sec .col-lg-6:first-child{
  padding-right: 60px;
}

.our_vision_sec .col-lg-6:last-child{
  padding-left:60px;
}

.our_vision_sec .content_wrap p{
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 46px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #666666;


}

.client_review_wrapper.white_bg{
  background: #fff;
  border-top: 1px solid #C1C1C1;
}


.lets_connect_sec{
  background: #F6F7FB;
  padding: 120px 0;
  text-align: center;
}
.lets_connect_sec h4{
  font-style: normal;
  font-weight: 200;
  font-size: 60px;
  line-height: 83px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #050931;
  margin-bottom: 30px;
}
.lets_connect_sec h4 span{
  font-weight: 800;
  display: block;
}

.contact_form{
  padding: 100px 0;
}

.map_ui{
  background: #C4C4C4;
  border-radius: 15px;
  display: flex;
  height:100%;
  overflow: hidden;
}
.map_ui iframe{
  width: 100%;
  height: 100%;
}

.contact_form_wraper .form_block{
    background: #F6F7FB;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 30px;
}
.contact_form_wraper .form-group{
  margin-bottom: 30px;
}
.contact_form_wraper .form-group input{
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000;
    border: none;
    background: transparent;
    border-bottom: 1px solid #A9A9A9;
    width: 100%;
}
.contact_form_wraper .form-group input:focus{
  outline: none;
  box-shadow: none;
}
.contact_form_wraper .form-group textarea{
  height: 110px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000;
    border: none;
    background: transparent;
    border-bottom: 1px solid #A9A9A9;
    width: 100%;
    resize: none;
}

.contact_form_wraper .form-group textarea::placeholder,
.contact_form_wraper .form-group input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8B939A;
}

.contact_form_wraper .form-group textarea:-ms-input-placeholder,
.contact_form_wraper .form-group input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #8B939A;
}

.contact_form_wraper .form-group textarea::-ms-input-placeholder,
.contact_form_wraper .form-group input::-ms-input-placeholder { /* Microsoft Edge */
  color: #8B939A;
}
.captcha_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.address_ui .address_top_ui p{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #363636;
}
.address_ui .address_top_ui p .icon{
  display: inline-flex;
  margin-right: 8px;
}
.address_ui .address_top_ui .address_label{
  margin-bottom: 10px;
}
.address_list{
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom:1px solid #C1C1C1;
}
.address_list .address_card{
  width: 50%;
}
.address_list .address_card label{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #363636;
    margin-bottom: 10px;
}
.address_list .address_card p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #7B777D;
}


.phone_number_wrapper{
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom:1px solid #C1C1C1;

}
.phone_number_wrapper .contact_card{
  width: 50%;
}
.phone_number_wrapper .contact_card label{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #363636;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.phone_number_wrapper .contact_card label .icon{
  display: inline-flex;
  margin-right: 8px;
}
.phone_number_wrapper .contact_card p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #7B777D;
    padding-left: 20px;
}
.phone_number_wrapper .contact_card:last-child p{
  padding-left:28px;
}
.follow_us{
  display: flex;
  align-items: center;
}
.follow_us ul{
  display: flex;
}
.follow_us ul li{
  margin-left: 20px;
}


.technology-consulting-page .hero_banner_wrapper.inner_hero_banner .image_ui{
  width: 100%;
  left: 0;
}

.technology-consulting-page .inner_hero_banner .heading1 .bold_text{
  line-height: 98px;
  margin-bottom: 0px;
}
.technology-consulting-page .hero_banner_content p{
  font-style: normal;
  font-weight: 200;
  font-size: 23px;
  line-height: 38px;
  letter-spacing: 0.01em;
  color: #050931;
  margin-bottom: 30px;
  padding-right: 50px;
}
.technology-consulting-page .hero_banner_image .technology_card1{
  position: absolute;
  left: -5%;
  top: 40%;
}
.technology-consulting-page .hero_banner_image .technology_card2{
  position: absolute;
  right: 0%;
  top: 20%;
}
.technology-consulting-page .hero_banner_image .technology_card3{
  position: absolute;
  right: 0%;
  bottom: 10%;
}
.technology-consulting-page .hero_banner_image .technology_card4{
  position: absolute;
  left: 0%;
  bottom: 20%;
}
.technology-consulting-page .client_review_wrapper.white_bg{
    border: none;
}

.technology_analytics{
  padding: 100px 0;
}
.technology_analytics .heading_wrap h4{
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #050931;
    margin-bottom: 50px;
}
.technology_analytics .heading_wrap h4 span{
  font-weight:800;
}
.technology_analytics .heading_wrap p{
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #050931;
  margin-bottom: 30px;
}
.ta_card_wraper .dot_card{
  display: flex;
  align-items: center;
  height: 100%;
}
.ta_card_wraper .dot_card,
.ta_card_wraper .dot_card img{
  width: 100%;
}
.ta_card_wraper .col-md-6{
  margin-bottom: 30px;
}
.ta_card{
  background: #FFFFFF;
  box-shadow: 0px 12px 30px 6px #F6F7FB;
  border-radius: 20px;
  padding: 30px;
  height: 100%;
  transition: 0.2s ease-in-out;
}
.ta_card:hover{
  transform:translateY(-3px);
}
.ta_card label{
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 35px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #050931;
    margin-bottom: 10px;
}
.ta_card .top_ui{ 
  padding-bottom: 20px;
  border-bottom: 1px solid #C1C1C1;
  margin-bottom: 20px;
}

.ta_card ul li{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  text-transform: capitalize;
  color: #8B939A;
  position: relative;
  padding-left: 14px;
}
.ta_card ul li:before{
  position: absolute;
  content: "";
  background:#8B939A;
  width:6px;
  height: 6px;
  border-radius: 100%;
  top: 15px;
  left: 0;
}
.ta_card p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
    color: #8B939A;
}

.successful-organization{
  padding: 100px 0;
}
.successful-organization .heading_wrap{
  text-align: center;
  margin-bottom: 90px;
}
.question_type_ui:last-child{
  margin-top: 50px;
}
.question_type_ui:last-child:before{
  top: -80px;
}
.successful-organization .btn_wrapper{
  text-align: center;
  padding: 50px 0;
  border-top: 1px solid #C1C1C1;
  margin-top: 60px;
}
.successful-organization .question_type_ui{
  margin-bottom: 60px;
}
.successful-organization .hexa_ui{
  height: auto;
}
.successful-organization .hexa_ui .hexa_inner_ui{
  height: 186px;
}

.successful-organization .hexa_container{
 justify-content: center;
}

.successful-organization .hexa_container .content_ui p{
  font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
text-align: center;
letter-spacing: 0.01em;
text-transform: capitalize;
max-width: 200px;
color: #050931;
}