
@media (max-width:1300px){
  .domains_wrapper.hexa_section .first_row .hexa_ui .hexa_inner_ui{
      width: 180px;
      height: 156px;
  }
  .domains_wrapper.hexa_section .first_row .hexa_ui .content_ui p{
    font-size: 15px;
    line-height: 22px;
  }
  .domains_wrapper.hexa_section .hexa_ui::after{
    top: 48px;
  }
  .classroom_hexa_wrapper .consulting_card .hexa_card{
    width: 200px; 
  }
  .classroom_hexa_wrapper .consulting_card .hexa_card .text_ui{
    font-size: 16px;
    line-height: 22px;
  }
  .our_vision_sec .content_wrap h4{
    font-size: 60px;
    line-height: 70px;
  }
}
@media (max-width:1199px){
  .interactive_classes {
    padding: 80px 0;
  }
  .interactive_classes .classes_inner_blk{
    flex-direction: column;
  }
  .interactive_classes .content_blk{
    width: 100%;
  }
  .interactive_classes .image_blk{
    width: 100%;
    max-width: 700px;
    margin-top: 30px;
  }
  .domains_wrapper.hexa_section .hexa_ui:last-child::after{
    display: none;
  }
  .management_system{
    padding:80px 0 50px;
  }

  .domains_wrapper.hexa_section .heading_wrap{
    margin-bottom: 70px;
  }
  .institute_classes_card{
    width: 25%;
    display: flex;
  }
  .institute_classes_card .inner_class_card{
    width: 100%;
  }
  .student_image_card .image_card img{
    width: 80%;
  }
  .student_image_card .image_card:after{
    display: none;
  }
  .content_image_card_sec .circle_shape{
    width: 500px;
    height: 500px;
  }
  .static_banner_wrpper h1{
    font-size: 80px;
  }
  .about_content_ui h3{
    font-size: 42px;
    line-height: 60px;
  }

  .our_vision_sec .content_wrap h4{
    font-size: 52px;
    line-height: 65px;
  }
  .our_vision_sec .content_wrap p{
    font-size: 18px;
    line-height:36px;
  }
  .founder_sec{
    padding-top: 70px;
  }
  .our_vision_sec,
  .lets_connect_sec,
  .about_content_ui{
    padding: 70px 0;
  }

  .about_content_ui h3{
    font-size: 32px;
    line-height: 48px;
  }

  .evalute_card{
    width:25%;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  .strategy_page .card_listing{
    flex-wrap: wrap;
  }
}

@media (max-width:1100px){
  .domains_wrapper.hexa_section .first_row .hexa_ui{
    width: 28%;
    margin-bottom: 40px;
  }

  .inner_hero_banner .heading1 .bold_text {
    font-size: 60px;
    line-height: 80px;
  }
  .content_image_card_sec{
    padding: 60px 0;
  }
  .contact_form, .successful-organization, .technology_analytics{
    padding: 70px 0;
  }
 

  
}

@media (max-width:991px){
  .hero_banner_wrapper.inner_hero_banner{
    min-height: auto;
  }

  .interactive_classes,
  .management_system, .successful-organization, .technology_analytics{
    padding: 50px 0;
  }
  .classes_inner_blk .content_blk .desc{
    font-size: 16px;
    line-height: 28px;
  }
  .classes_inner_blk .content_blk ul li{
    font-size: 16px;
    line-height: 32px;
  }
  .classes_inner_blk .content_blk ul li::before{
    top: 14px;
  }
  .hero_banner_wrapper.inner_hero_banner{
    min-height: auto;
  }
  .homework_application{
    padding:80px 0;
  }
  .teachers_steps_wrapper .heading3{
    line-height: 64px;
  }
  .teachers_steps_wrapper .image_wrapper{
    display: none;
  }
  .student_steps_wrapper,
  .teachers_steps_wrapper{
    padding: 60px 0 0 ;
  }
  .student_image_card{
    display: none;
  }
  .classroom_hexa_wrapper .consulting_card figure:after{
    display: none;
  }

  .classroom_hexa_wrapper .consulting_card:nth-child(odd) .hexa_card{
    margin-top: 0;
  }
  .steps_example_wrapper .right_ui .content_ui:before{
    left: 27px;
  }
  .steps_example_wrapper .content_ui ul li{
    font-size: 16px;
    line-height: 32px;
  }
  .steps_example_wrapper .content_ui ul li:before{
    top: 14px;
  }
  .student_steps_card .first_row .hexa_ui{
    width: 33%;
    margin-bottom: 50px;
  }
  .digital_homework_page .classroom_hexa_wrapper .consulting_card,
  .initiative_page .classroom_hexa_wrapper .consulting_card,
  .strategy_page .classroom_hexa_wrapper .consulting_card{
    width: 33%;
    margin-bottom: 20px;
  }
  .digital_homework_page .classroom_hexa_wrapper{
    padding: 60px 0;
  }
  .student_steps_card{
    margin-bottom: 0;
  }

  .content_image_card_sec .content_wraper .heading2,
  .content_image_card_sec .content_wraper .heading2 span {
    line-height: 52px;
    font-size: 40px;
  }
  .content_image_card_sec .content_wraper p{
    font-size: 18px;
    line-height: 30px;
    padding: 20px 0 30px;
  }

.hexa_container  .hexa_ui .hexa_inner_ui{
    width: 180px;
    height: 84%;
  }
  .hexa_container .hexa_ui .text{
    font-size: 14px;
  }
  .content_image_card_sec .image_wrapper img{
    position: relative;
    top: 0;
    transform: initial;
  }
  .build_test_sec{
    padding-top: 60px;
  }

  .hexa_container{
    flex-wrap:wrap;
  }
  .hexa_container .hexa_ui{
    width: 25%;
  }
  .hexa_container .hexa_ui:last-child{
    width: 25%;
  }
  .exam_type_sec{
    padding-top: 60px;
  }

  .founder_sec .col-lg-6:first-child{
    order: 1;
  }
  .founder_sec .col-lg-6:last-child{
    order: 2;
    padding-top: 40px;
  }

  .hero_banner_wrapper.static_banner_wrpper{
    min-height: 400px;
    padding-top: 170px;
  }
  .static_banner_wrpper h1{
    font-size: 60px;
  }
  .about_content_ui p{
    font-size: 18px;
  }

  .lets_connect_sec h4{
    font-size: 48px;
    line-height: 65px;
  }
  .our_vision_sec .col-lg-6:first-child{
    padding-bottom:70px;
  }
  .our_vision_sec .col-lg-6:last-child{
    padding-left: 15px;
  }
  .our_vision_sec .content_wrap h4{
    margin-bottom: 20px;
  }
  .founder_image_blk{
    padding-top: 0;
  }

  .contact_form .col-lg-6:last-child{
    order: 1;
  }

  .contact_form .col-lg-6:first-child{
    order: 2;
  }

  .map_ui{
    height: 400px;
    margin-bottom: 30px;
  }

  .ta_card_wraper .dot_card{
      display: none;
    }
    .successful-organization .hexa_ui .hexa_inner_ui{
      height: 155px;
    }
    .hexa_container .hexa_ui{
      margin-bottom: 40px;
    }

    .technology_analytics .heading_wrap h4{
      font-size: 36px;
      line-height: 56px;
      margin-bottom: 30px;
    }
    .technology-consulting-page .inner_hero_banner .heading1 .bold_text{
      line-height: 70px;
    }

    .evalute_section .sub-heading{
      font-size: 18px;
      line-height: 30px;
    }


    .evalute_card{
      width:30%;
      justify-content: flex-start;
      margin-bottom: 40px;
    }
    .strategy_page .card_listing{
      justify-content: center;
    }

}


@media (max-width:767px){
  .institute_classes_card{
    width:50%;
  }
  .inner_hero_banner .heading1 .bold_text {
    font-size: 52px;
    line-height: 68px;
    margin-bottom: 0;
  }
  .domains_wrapper.hexa_section .first_row .hexa_ui{
    justify-content: flex-start;
    width: 33%;
  }
  .classes_inner_blk .image_blk img{
    min-width: 100%;
    margin-left: 0;
  }
  .steps_example_wrapper,
  .student_listing_wrap{
    flex-direction: column;
  }
  .steps_example_wrapper .right_ui{
    width: 100%;
  }
  .steps_example_wrapper .left_ui{
    width:100%;
  }
  .steps_example_wrapper .right_ui .content_ui{
    padding-left: 0;
  }
  .steps_example_wrapper .right_ui .content_ui:before{
    display: none;
  }
  .student_listing_wrap .list_card{
    width:100%;
    margin-bottom: 30px;
  }
  .student_listing_wrap .list_card:last-child{
    margin-bottom: 0;
  }
  .student_steps_card .first_row .hexa_ui .hexa_inner_ui{
    width: 180px;
    height: 160px;
  }
  .first_row{
    align-items: flex-start;
  }
  .classroom_hexa_wrapper .consulting_card .hexa_card{
    height: 165px;
  }
  .classroom_hexa_wrapper .consulting_card .hexa_card .text_ui {
    font-size: 13px;
    line-height: 17px;
  }
  .strategy_wrapper.smart_classroom{
    padding-top: 60px;
  }

  .content_image_card_sec.reverse_ui .col-md-7{
    order: 1;
  }
  .content_image_card_sec.reverse_ui .col-md-5{
    order: 2;
  }
  .content_image_card_sec .content_wraper{
    margin-top: 30px;
  }
  .image_content_sec .reverse_ui .col-md-6:first-child{
    order: 1;
  }
  .image_content_sec .reverse_ui .col-md-6:last-child{
    order: 2;
  }

  .hexa_container .hexa_ui,
  .hexa_container .hexa_ui:last-child{
    width: 33%;
  }
  .exam_type_sec{
    padding-bottom: 0;
  }
  .client_card figure{
    width: 170px;
    height: 170px;
  }

  .static_banner_wrpper h1{
    font-size: 48px;
    line-height: 60px;
  }
  .founder_content_ui h5{
    font-size: 24px;
    line-height: 40px;
  }

  .our_vision_sec .content_wrap h4 {
    font-size: 42px;
    line-height: 52px;
}

  .technology_analytics .heading_wrap h4{
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  .technology_analytics .heading_wrap p{
    font-size: 20px;
    line-height: 32px;
  }
  .technology_analytics .heading_wrap h4{
    font-size: 26px;
    line-height: 42px;
    margin-bottom: 30px;
  }

  .technology-consulting-page .inner_hero_banner .heading1 .bold_text{
    line-height: 50px;
  }
  .technology-consulting-page .hero_banner_content p{
    padding-right: 0;
  }
  .successful-organization .hexa_ui {
    height: auto;
    justify-content: flex-start;
    align-items: center;
  }
  .successful-organization .heading_wrap {
    text-align: center;
    margin-bottom: 60px;
  }
  .successful-organization .question_type_ui {
    margin-bottom: 0;
  }
  .successful-organization .btn_wrapper {
        padding: 50px 0 0;
        margin-top: 0;
    }

    .initiative_page .content_image_sec .content_blk ul li,
    .initiative_page  .content_image_sec .content_blk p{
      font-size: 16px;
      line-height: 28px;
    }
    .counter_card .card_inner{
      min-height: 170px;
    }
    .initiative_page .hero_banner_content .desc,
    .strategy_page .hero_banner_content .desc{
      font-size: 20px;
      line-height: 34px;
    }
    .initiative_page .inner_hero_banner .heading1,
    .strategy_page .inner_hero_banner .heading1{
      margin-bottom: 20px;
    }
    .hexa_container .hexa_ui, .hexa_container .hexa_ui:last-child{
      justify-content: flex-start;
    }
    .business_consulting_wrapper .hexa_ui .content_ui p{
      font-size: 16px;
    }
    .business_consulting_wrapper.ptb-100{
      padding-bottom: 0;
    }
    .evalute_card{
      width: 50%;
    }
    
    .hexa_container .hexa_ui .hexa_inner_ui{
      height: 170px;
    }
    .hexa_container .hexa_ui{
      height:auto;
    }
    .market_strategy.ptb-100{
      padding-bottom: 0;
    }
}

@media (max-width:599px){
  .domains_wrapper.hexa_section .first_row .hexa_ui{
    width:50%;
  }
  .classes_inner_blk .content_blk .heading4{
    white-space: normal;
  }
  .classes_inner_blk .content_blk .white_card{
    width:100%;
  }
  .institute_classes_card{
    width:100%;
  }
  .student_steps_card .first_row .hexa_ui{
    width:50%;
  }
  .digital_homework_page .classroom_hexa_wrapper .consulting_card,
  .initiative_page .classroom_hexa_wrapper .consulting_card,
  .strategy_page .classroom_hexa_wrapper .consulting_card{
    width:50%;
    display: flex;
    justify-content: center;
  }
  .classroom_hexa_wrapper .consulting_card figure{
    justify-content: center;
    display: flex;
  }
  .hexa_container .hexa_ui,
  .hexa_container .hexa_ui:last-child{
    width: 50%;
  }

  .inner_hero_banner .heading1 .subtext{
    font-size:32px;
    line-height: 52px;
  }
  .inner_hero_banner .heading1 .bold_text{
    font-size: 44px;
    line-height:52px;
  }

  .homepage  .first_row .hexa_ui .hexa_inner_ui{
    width: 180px;
    height: 140px;
  }

  .about_content_ui h3 {
    font-size: 26px;
    line-height: 42px;
}

  .lets_connect_sec h4 {
      font-size: 36px;
      line-height: 52px;
  }

  .captcha_wrapper{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .captcha_image{
    margin-bottom: 20px;
  }
  .address_list,
  .phone_number_wrapper{
    flex-direction: column;
  }
  .address_list .address_card,
  .phone_number_wrapper .contact_card{
    margin-bottom: 20px;
  }
  .address_list .address_card:last-child,
  .phone_number_wrapper .contact_card:last-child{
    margin-bottom: 0;
  }

  .successful-organization  .heading3,   .successful-organization  .heading3 span {
    font-size: 26px;
    line-height: 40px;
}

  .counter_card{
    padding: 0 10px;
  }
  .counter_card .card_inner label{
    font-size:36px;
  }

  .initiative_page .stack_holder .content_blk ul li,
  .initiative_page .stack_holder .content_blk p{
    font-size: 16px;
    line-height: 28px;
  }
  .evalute_card{
    width:100%;
  }
  .prioritize_card{
    width:50%;
  }
  .market_strategy .subheading{
    font-size: 16px;
    line-height: 28px;
  }
  .market_strategy .heading3{
    margin-bottom: 20px;
  }
}

@media (max-width:400px){
  .prioritize_card{
    width:100%;
  }
}